<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="../Staticyts/stayles.css">
    <!--Agrega el archivo css a el HTML--> 
    <script src = "../Dynamics/script.js"></script>
    <!--Agrega el archivo JS a el HTML-->   
    <title>agregar y quitar tareas</title>
</head>

<body>
    <div id = "fondo">
    <!-- crea el contenedor principal o el fondo del sitio-->
    <h1>SERVICIO DE TAREAS</h1>

    <section id="botones">
        <button class = "btnAgregar" onclick = "agregarTarea()"> Agregar Tarea </button>
        <button class = "btnEliminar" onclick = "eliminarTarea()"> Eliminar tarea </button>
    </section>
    <!--agrega los botones de tarea-->

    <section id = "contenedor" class = "contenedor"></section>
    <!--Agrega el contenedor donde se agregaran las tareas-->
    </div>
</body>

<style>

</style>

</html>